<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laimilife.frame.timejob.dao.TbSysTimejobMapper">
  <resultMap id="BaseResultMap" type="com.laimilife.frame.timejob.model.TbSysTimejob">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="cron" jdbcType="VARCHAR" property="cron" />
    <result column="job_desc" jdbcType="VARCHAR" property="jobDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_id" jdbcType="CHAR" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_id" jdbcType="CHAR" property="updateId" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, class_name, job_name, group_name, cron, job_desc, create_time, create_id, create_name, 
    update_time, update_id, update_name, status
  </sql>
  <select id="searchJobByClassName" parameterType="java.lang.String" resultType="com.laimilife.frame.timejob.model.TbSysTimejob">
    select 
    <include refid="Base_Column_List" />
    from tb_sys_timejob 
    where 1=1 
    and class_name = #{className} 
    order by create_time desc
  </select>
  <select id="searchJob" parameterType="java.util.Map" resultType="com.laimilife.frame.timejob.vo.TbSysTimejobVO">
    select 
    <include refid="Base_Column_List" />
    from tb_sys_timejob 
    where 1=1 
    <if test="groupName != null">
    and group_name like contact('%', #{groupName}, '%') 
    </if>
    <if test="jobName != null">
    and job_name like contact('%', #{jobName}, '%') 
    order by create_time desc
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_sys_timejob
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_sys_timejob
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.laimilife.frame.timejob.model.TbSysTimejob">
    insert into tb_sys_timejob (id, class_name, job_name, 
      group_name, cron, job_desc, 
      create_time, create_id, create_name, 
      update_time, update_id, update_name, 
      status)
    values (#{id,jdbcType=CHAR}, #{className,jdbcType=VARCHAR}, #{jobName,jdbcType=VARCHAR}, 
      #{groupName,jdbcType=VARCHAR}, #{cron,jdbcType=VARCHAR}, #{jobDesc,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=CHAR}, #{createName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=CHAR}, #{updateName,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.laimilife.frame.timejob.model.TbSysTimejob">
    insert into tb_sys_timejob
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="jobName != null">
        job_name,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="cron != null">
        cron,
      </if>
      <if test="jobDesc != null">
        job_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateName != null">
        update_name,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null">
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="cron != null">
        #{cron,jdbcType=VARCHAR},
      </if>
      <if test="jobDesc != null">
        #{jobDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=CHAR},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=CHAR},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.laimilife.frame.timejob.model.TbSysTimejob">
    update tb_sys_timejob
    <set>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null">
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="cron != null">
        cron = #{cron,jdbcType=VARCHAR},
      </if>
      <if test="jobDesc != null">
        job_desc = #{jobDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=CHAR},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=CHAR},
      </if>
      <if test="updateName != null">
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.laimilife.frame.timejob.model.TbSysTimejob">
    update tb_sys_timejob
    set class_name = #{className,jdbcType=VARCHAR},
      job_name = #{jobName,jdbcType=VARCHAR},
      group_name = #{groupName,jdbcType=VARCHAR},
      cron = #{cron,jdbcType=VARCHAR},
      job_desc = #{jobDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=CHAR},
      create_name = #{createName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=CHAR},
      update_name = #{updateName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>